<% image = @list.photo.attached? ? (cl_image_path @list.photo.key) : "https://images.unsplash.com/photo-1543536448-d209d2d13a1c" %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image %>);">
  <div class="container">
    <h1><%= @list.name %></h1>
    <span class="position-absolute top-0 end-0 mt-4 me-4 badge bg-warning"><%= pluralize(@list.movies.size, "movie") %></span>
  </div>
</div>
<div class="container py-5">
  <div class="d-flex justify-content-between">
    <%= link_to raw('<i class="fa-solid fa-chevron-left"></i> Go back to lists'), lists_path, class: 'btn btn-primary mb-4 me-1' %>
    <a href="#bookmark-form" data-bs-toggle="collapse" class="btn btn-primary mb-4 ms-1" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa-solid fa-plus"></i> Add a movie</a>
  </div>
  <div class="collapse" id="bookmark-form">
    <div class="p-4 bg-white rounded shadow-sm mb-4">
      <h2>Create Bookmark for <%= @list.name %></h2>
      <%= render "bookmarks/form", list: @list, bookmark: @bookmark %>
    </div>
  </div>
  <%= raw("<h2>You haven't saved any movies yet!</h2>") if @list.movies.empty? %>

  <div class="row my-2">
    <% @list.movies.each do |movie| %>
      <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
      <div class="col-12 col-sm-6 mb-4">
        <div class="bg-white rounded shadow-sm h-100 bookmark overflow-hidden">
          <%= image_tag movie.poster_url, alt: movie.title, class: "movie-image" %>
          <div class="p-3 d-flex flex-column">
            <h3><span class="fw-bold"><%= movie.title %></span> <span class="text-grey">• <%= movie.rating %> <i class="fas fa-star star-yellow"></i></span></h3>
            <small class="text-grey"><%= movie.overview %></small>
            <div class="d-flex align-items-end pt-4">
              <div class="flex-grow-1">
                <i class="fas fa-quote-left me-2"></i><small><%= bookmark.comment %></small>
              </div>
              <small class="text-right ms-1"><%= link_to "delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"}, class: 'text-danger' %></small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <hr />

</div>
